/* *******************
   Color Variables
******************* */

$wwuBlue: #003f87; // Passes color contrast checker for text on white background.
$wwuLtblue: #0083d6; // Fails color contrast checker for text on white background. Use $wwuOceanBlue instead for text.
$wwuRed: #cc2d30; // Passes color contrast checker for text on white background.
$wwuYellow: #ffc61e; // Fails color contrast checker for text on white background.
$wwuLime: #bad80a; // Fails color contrast checker for text on white background.
$wwuGreen: #006b3f; // Passes color contrast checker for text on white background.

$wwuGrayBlue: #4B689C; // Passes color contrast checker for text on white background.

$wwuOceanBlue: #0070b6; // Passes color contrast checker for text on white background.

$wwuPaleBlue: #cce6f7; // Fails color contrast checker for text on white background.
$wwuPalestBlue: lighten($wwuPaleBlue, 5%); // Fails color contrast checker for text on white background.
$wwuLtGray: #E9E9E9;

$muli: Muli, Tahoma, Verdana, "DejaVu Sans", sans-serif;

@import "compass";
@import "zen";

$zen-column-count:  12; // was 5
$zen-gutter-width:  30px; // was 20px
$box-sizing-polyfill-path: "/sites/all/themes/wwuzen/js/boxsizing.htc";
/* *******************
 		Mixins
******************* */

@mixin hide-text-bg-img {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

@mixin multi-line-flow-link {
  line-height:1.25; margin-top:.33em; padding-bottom:.17em;
}

@mixin bar-arrow {
  content:'';
  display:block;
  position:relative;
  right:-17.275em;
  top:-2.25em;
  border-top: 1.3em solid transparent;
  border-left: .5em solid $wwuLtblue;
  border-bottom: 1.3em solid transparent;
}
