/**
 * @file
 * Customization for Dual
 *
 */

@import "base";

//
//
// Styles for the site
//
//

@media all and (min-width: 600px ) {
    #quicktabs-theatre_dance_qt .item-list {
        width: 50%;
      display: table-cell;
    }
}

  $quicktabs-name: "theatre_dance_qt";

  #quicktabs-#{$quicktabs-name} {
    position: relative;
    display: table;
    width: 100%;
    
    .item-list {
      vertical-align: top;
    }

    .quicktabs-tabs {
      margin: 0;
      padding: 0;
      margin-right: 0.75em;

      li {
        display: block;
        padding: 0;
        margin-bottom: 0.625em;

        a {
          position: relative;
          display: block;
          width: auto;
          background-color: #eee;
          background-image: url("../images/tabs_sprite.png");
          background-repeat: no-repeat;
          padding: 1.5em;
          padding-right: 3em;
          text-transform: uppercase;
          text-decoration: none;
          transition: all 1s;
        }

        a:before {
          position: absolute;
          top: 0;
          right: 1.5em;
          content: '';
          width: 13px;
          height: 100%;
          background: transparent url("../images/cfpa_arrow.png") center center no-repeat;
        }

        #quicktabs-tab-#{$quicktabs-name}-3 {
          background-position: 0px 0px;
        }

        #quicktabs-tab-#{$quicktabs-name}-2 {
          background-position: 0px -100px;
        }

        #quicktabs-tab-#{$quicktabs-name}-1 {
          background-position: 0px -200px;
        }

        #quicktabs-tab-#{$quicktabs-name}-0 {
          background-position: 0px -300px;
        }
      }

      li.active {

        a {
          background-image: none;
        }

        #quicktabs-tab-#{$quicktabs-name}-3 {
          background-color: #ffc61e;
        }

        #quicktabs-tab-#{$quicktabs-name}-2 {
          background-color: #bad80a;
        }

        #quicktabs-tab-#{$quicktabs-name}-1 {
          background-color: #cc2d30;
        }

        #quicktabs-tab-#{$quicktabs-name}-0 {
          background-color: #0083d6;
        }
      }
      
    }

    //Remove arrows from tabs within tabs
    .quicktabs_main .quicktabs-tabs li a:before {
      content: '';
      background: none;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
    }
    
    #quicktabs-container-#{$quicktabs-name} {
    	// Space between social media tabs and content
    	.quicktabs-wrapper .block {
    		margin-top: 1.5em;
    	}
    	.block-aggregator li {
    		border: none;
    	}
    }
    
  }